
.bread-nav{
	background: #F8F8F8;
	width: 100%;
	height: .7rem;
	font-size: .2rem;
	color: #666;
	display: flex;
	align-items: center;
	padding: 0 .2rem;
}
.bread-nav a{
	color: #666;
}
.index-section1{
	width: 100%;
	height: 3.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.index-section1-mes{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: .25rem;
}
.index-section1-mes .item{
	width: 33.3%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.index-section1-mes .item img{
	width: .8rem;
	height: .8rem;
}
.index-section1-mes .item p:nth-of-type(1){
	color: #363636;
	font-size: .28rem;
	margin-top: .3rem;
}
.index-section1-mes .item p:nth-of-type(2){
	color: #ABABAB;
	font-size: .22rem;
	margin-top: .1rem;
}
.index-section2{
	width: 100%;
	height: 13.65rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: .12rem;
}
.index-section2 .pic1{
	width: 4.4rem;
	height: 1.4rem;
	margin-top: .35rem;
}
.index-section2 .pic2{
	width: 6.8rem;
	height: 1rem;
	margin-top: .5rem;
	margin-bottom: .55rem;
}
.index-section2 .second-title{
	color: #FF6300;
	font-size: .3rem;
	text-align: center;
}
.index-section2 .second-title-2{
	color: #FF6300;
	font-size: .24rem;
	text-align: center;
	margin-top: .1rem;
}
.index-section2-phone{
	width: 6rem;
	height: .7rem;
	background:rgba(255,255,255,1);
	border:1px solid rgba(255,99,0,1);
	border-radius:34px;
	color: #FF6300;
	font-size: .36rem;
	display: flex;
	align-items: center;
	position: relative;
	margin-top: .2rem;
}
.index-section2-phone img{
	width: .38rem;
	height: .42rem;
	margin-right: .15rem;
	margin-left: .4rem;
}
.index-section2-phone a{
	width: 2.25rem;
	height: 100%;
	color: white;
	background: #FF6300;
	font-size: .24rem;
	border:1px solid rgba(255,99,0,1);
	border-radius:34px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
}
.index-section2 .arrdown{
	width: .47rem;
	height: .64rem;
	margin-top: .25rem;
}
.index-section2-mes{
	width: 6.7rem;
	height: 5.6rem;
	border:1px solid rgba(255,99,0,1);
	border-radius:10px;
	margin-top: .2rem;
	padding-top: .25rem;
}
.index-section2-mes > p{
	font-size: .3rem;
	text-align: center;
}
.index-section2-mes .item{
	width: 50%;
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: .3rem;
}
.index-section2-mes .item img{
	width: 2.2rem;
	height: 1.5rem;
}
.index-section2-mes .item p{
	width: 100%;
	font-size: .26rem;
	text-align: center;
	margin-top: .2rem;
}

.index-section3{
	width: 100%;
	height: 3.3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: .12rem;
}
.index-section3-tit{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: .32rem;
	position: relative;
}
.index-section3-tit span{
	display: block;
	width: 50%;
	text-align: center;
}
.index-section3-tit img{
	width: .8rem;
	height: .9rem;
	position: absolute;
	left: 50%;
	margin-left: -.4rem;
	top: 50%;
	margin-top: -.45rem;
}
.index-section3-mes{
	width: 6.7rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: .45rem;
}
.index-section3-mes .item{
	width: 2.9rem;
	height: .45rem;
	border:1px solid rgba(255,99,0,1);
	border-radius:10px;
	margin-bottom: .15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .26rem;
}
.index-section3-mes .item2{
	border:1px solid rgba(66,204,74,1);
}

.index-section4{
	width: 100%;
	height: 8.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: .12rem;
}
.index-section4 .sec-sub{
	margin-bottom: .45rem;
}
.index-section4-mes{
	width: 7.5rem;

}
.index-section4 .item{
	width: 2.5rem;
	height: 2.25rem;
	background: #F8F7F5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: .25rem;
	position: relative;
	float: left;
}
.index-section4 .item p{
	color: #666;
	font-size: .22rem;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: .12rem;
	left: 0;
}
.index-section4 .item:nth-of-type(1) img{
	width: 1.5rem;
	height: 1.45rem;
}
.index-section4 .item:nth-of-type(2) img{
	width: 1.78rem;
	height: 1.15rem;
}
.index-section4 .item:nth-of-type(3) img{
	width: 1.37rem;
	height: 1.37rem;
}
.index-section4 .item:nth-of-type(4) img{
	width: 1.35rem;
	height: 1.35rem;
}
.index-section4 .item:nth-of-type(5) img{
	width: 1.42rem;
	height: 1.26rem;
}
.index-section4 .item:nth-of-type(6) img{
	width: 1.5rem;
	height: 1.5rem;
}
.index-section4 .item:nth-of-type(7) img{
	width: 1.4rem;
	height: 1.3rem;
}
.index-section4 .item:nth-of-type(8) img{
	width: 1.27rem;
	height: 1.33rem;
}