<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patriotdevelopment.mapper.UserMapper">
     <insert id="register" parameterType="com.patriotdevelopment.entity.User" >
      INSERT INTO `user` (username,password,email,phone) VALUES (#{username},#{password},#{email},#{phone});
     </insert>

    <select id="login" resultType="com.patriotdevelopment.entity.User" parameterType="com.patriotdevelopment.entity.User">
      SELECT * FROM `user` WHERE username = #{username}AND `password`=#{password}
    </select>

    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.patriotdevelopment.entity.User">
         SELECT * FROM `user` WHERE username = #{username,jdbcType=VARCHAR}
    </select>
</mapper>